body {
    width: 600px;
    height: 960px;
    background-color: bisque;
    padding: 10px;
}

main {
    width: 600px;
    height: 600px;
    box-shadow: 0px 0px 20px grey;
    padding: 20px;
}

.main_lists {
    width: 97%;
    height: 35%;
    padding: 10px;
    background-color: yellowgreen;
}

.main-class {
    height: 30px;
    margin: 10px;
    text-align: center;
    color: yellow;
    box-shadow: 0px 0px 10px red;
    border-radius: 10px;
}

.main_1 {
    background-color: hotpink;
}

.main_2 {
    background-color: red;
}

.main_3 {
    background-color: black;
}

.main_4 {
    background-color: green;
}

.main_5 {
    background-color: yellow;
}

.all_circles {
    width: 97%;
    height: 50%;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    border-top: 3px dotted;
    border-bottom: 5px groove;
    background-color: bisque;
    box-shadow: 0px 0px 10px goldenrod;
}

.circles {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
}

.circle_1 {
    background-color: turquoise;
}

.circle_2 {
    background-color: yellowgreen;
}

.circle_3 {
    background-color: violet;
}

